---
- name: Write process_exporter.yml
  ansible.builtin.copy:
    dest: "{{ prometheus_base_dir }}/conf/process_exporter.yml"
    mode: "0644"
    owner: "{{ ansible_user | default('wbl') }}"
    group: "{{ ansible_user | default('wbl') }}"
    content: |-
      process_names:
        - comm:
          - chronyd
          - node_exporter
        - exe:
          - /opt/prometheus/bin/process-exporter
        - name: "elasticsearch"
          cmdline:
            - 'org.elasticsearch.bootstrap.Elasticsearch'
        - name: "kafka"
          cmdline:
          - '/opt/kafka/config/server.properties'
        - name: "zookeeper"
          cmdline:
          - '/opt/zookeeper/conf/zoo.cfg'

- name: Write process_exporter.service
  ansible.builtin.copy:
    dest: "/etc/systemd/system/process_exporter.service"
    mode: "0644"
    owner: "root"
    group: "root"
    content: |-
      [Unit]
      Description=process-exporter
      After=network.target
      
      [Service]
      User={{ ansible_user }}
      Restart=on-failure
      Type=simple
      ExecStart=/opt/prometheus/bin/process-exporter -config.path /opt/prometheus/conf/process_exporter.yaml
      
      [Install]
      WantedBy=multi-user.target

- name: Enable and start process_exporter service
  ansible.builtin.systemd:
    name: process_exporter
    daemon_reload: true
    enabled: true
    state: started
