---
- name: Write my.cnf
  ansible.builtin.copy:
    dest: "{{ prometheus_base_dir }}/conf/my.conf"
    mode: "0644"
    owner: "{{ ansible_user | default('wbl') }}"
    group: "{{ ansible_user | default('wbl') }}"
    content: |-
      [client]
      user = {{ mysqld_mon_user }}
      password = {{ mysqld_mon_pwd }}
      host = {{ mysqld_mon_host }}
      port = {{ mysqld_svc_port }}
      
      [client.servers]
      user = {{ mysqld_mon_user }}
      password = {{ mysqld_mon_pwd }}
      host = {{ mysqld_mon_host }}
      port = {{ mysqld_svc_port }}

- name: Write mysqld_exporter.service
  ansible.builtin.copy:
    dest: "/etc/systemd/system/mysqld_exporter.service"
    mode: "0644"
    owner: "root"
    group: "root"
    content: |-
      [Unit]
      Description=Prometheus MySQL Exporter
      After=network.target
      
      [Service]
      User={{ ansible_user }}
      Group={{ ansible_user }}
      
      Type=simple
      Environment='DATA_SOURCE_NAME={{ mysqld_mon_user }}:{{ mysqld_mon_pwd }}@tcp(localhost:{{ mysqld_svc_port }})/'
      ExecStart={{ prometheus_base_dir }}/bin/mysqld_exporter \
        --config.my-cnf {{ prometheus_base_dir }}/conf/my.conf \
        --collect.global_status \
        --collect.info_schema.innodb_metrics \
        --collect.auto_increment.columns \
        --collect.binlog_size \
        --collect.global_variables \
        --collect.info_schema.tablestats \
        --collect.info_schema.query_response_time \
        --collect.info_schema.userstats \
        --collect.info_schema.tables \
        --collect.perf_schema.tablelocks \
        --collect.perf_schema.file_events \
        --collect.perf_schema.eventswaits \
        --collect.perf_schema.indexiowaits \
        --collect.perf_schema.tableiowaits \
        --collect.slave_status
      Restart=on-failure
      
      [Install]
      WantedBy=multi-user.target

- name: Enable and start mysqld_exporter service
  ansible.builtin.systemd:
    name: mysqld_exporter
    daemon_reload: true
    enabled: true
    state: started
