---
- name: Write node_exporter.conf
  ansible.builtin.copy:
    dest: "{{ prometheus_base_dir }}/conf/node_exporter.conf"
    mode: "0644"
    owner: "{{ ansible_user | default('wbl') }}"
    group: "{{ ansible_user | default('wbl') }}"
    content: |-
      OPTIONS="--collector.textfile.directory /opt/prometheus/data"

- name: Write node_exporter.service
  ansible.builtin.copy:
    dest: "/etc/systemd/system/node_exporter.service"
    mode: "0644"
    owner: "root"
    group: "root"
    content: |-
      [Unit]
      Description=node_exporter
      After=network.target
      
      [Service]
      User={{ ansible_user }}
      Restart=on-failure
      Type=simple
      EnvironmentFile={{ prometheus_base_dir }}/conf/node_exporter.conf
      ExecStart={{ prometheus_base_dir }}/bin/node_exporter
      
      [Install]
      WantedBy=multi-user.target

- name: Enable and start logstash-nginx service
  ansible.builtin.systemd:
    name: node_exporter
    daemon_reload: true
    enabled: true
    state: started
